body{
	background-color: #F6F7EF;
}



#Menu{
	background-color: white;
	font-size: 14px;
}
#NavbarShowcase{
	margin-right:137px;
	color:#667790;
}
#NavbarHome{
	margin-right:26px;
	color:#667790;
}



#PrimoHr{
	border: 2px solid #C2CDDD;
	opacity: 50%;
	margin: auto;
}



#ContainerTitle{
    min-height: 360px;
    background-color: white;
    overflow: auto;
    padding: 0px; 
}
#ContainerTitle_Titolo{
	font-size: 40px;
	font-weight: bold;
	color: #0E141A;
	margin-top: 7%;
}
#ContainerTitle_Sottotitolo{
	font-size: 18px;
	color:#0E141A;
	margin-top: 1.5%;
	margin-bottom: 10%;
}
#ContainerTitle_Center{
	max-width: 1200px;
	padding-right: 30px;
	padding-left: 30px; 
}




#ContainerCenter{
	max-width: 1200px;
}
.container{
	max-width: 1200px;
}
#Titolo_Center{
	font-size: 27px;
	font-weight: bold;
	color: #0E141A;
	margin-top: 3.5%;
	margin-bottom: 2%;
}
#Sottotitolo_Center{
	font-size: 21px;
	font-weight: bold;
	color: #0E141A;	
	margin-bottom: 0.20%;
}
#Descrizione_Center{
	font-size: 18px;
	color: #0E141A;	
	margin-bottom: 0.20%;
}
#button{
	background-color:#0E141A;
	color:white;
	display: flex;
	min-height: 21px;
	min-width:90px;
	border:0px;
	margin-left: auto;
}
#ImgButton{
    width: 20px;
    height: 20px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2px;
}
#TestoButton{
	margin-top: auto;
    margin-bottom: auto;
    font-size: 16px;
}
#Link_Tab{
	min-height: 99px;	
	background-color: #0E141A;	
	padding-right: 0px;
}
#Link_Tot{
	display: flex;
	color:#1AD5CE;
	font-family: Courier, Verdana, sans-serif;
	font-size: 18px;
	overflow: auto;
	padding-top: 1%;
    padding-bottom: 2%;
}
#LINKRegions{
	padding: 0px;
	color:#1AD5CE;
	padding-left: 8px;
}
#LINKDistricts{
	padding: 0px;
	color:#1AD5CE;
	padding-left: 8px;
}
#LINKFriendly1{
	padding: 0px;
	color:#1AD5CE;
	padding-left: 8px;
}
#LINKFriendly2{
	padding: 0px;
	color:#1AD5CE;
	padding-left: 8px;
}
#Json{
	padding-top: 2.5%;
	padding-bottom: 2.5%;
	min-height: 586px;
	color: #0E141A;
	background-color: white;
	font-size: 21px;
	overflow: auto;
	font-family: Courier New, Verdana, sans-serif;
}



#SecondoHr{
	border: 2px solid #C2CDDD;
    opacity: 50%;
    margin:auto;
    margin-top: 23%;
}



#ContainerCredits{
	min-height: 400px;
	background-color: white;
}
#ContainerCredits_Center{
	max-width: 1200px;
	padding-left: 30px;
	padding-right: 30px;
}
#MenuCredits{
	padding-left: 15px;
	padding-top: 7%;
}
#MenuCredits_Text{
	font-size: 21px;
	color:#0E141A;
	font-weight: bold;
	padding-bottom: 10px;
}
#MenuCredits_Voci{
	padding: 0px;
	font-size: 16px;
	color:#0E141A;
}
#CreditsName{
	padding-top: 7%;
}
#CreditsName_Text{
	color:#0E141A;
	font-weight: bold;
	font-size: 21px;
}
#CreditsName_Titolo{
	color:#0E141A;
	font-weight: bold;
	font-size: 16px;
}
#CreditsName_Sottotitolo{
	color:#0E141A;
	font-size: 16px;
}




