# php_value display_errors 1

RewriteEngine on

#condizioni per la creazione di ../grafici invece che ../charts/amcharts.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^grafici$ /charts/amcharts.php [NC]

#modrewrite per il link .../api/regions/read.php?etc
#in questo caso abbiamo la query string incollata a .../regions?etc
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^regions?$ api/regions/read.php [QSA]

#modrewrite per il link .../api/districts/read.php?etc
#in questo caso abbiamo la query string incollata a .../districts?etc
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^districts?$ api/districts/read.php [QSA]